/*
main
*/
.main {
}

/*
my-skills
*/
.my-skills {
  background-color: #7299fe;
}

/*
services
*/
.services {
  background-color: #fb7171;
}

/*
portfolio
*/
.portfolio {
  background-color: #ffd233;
}

/*
clients
*/
.clients {
  background-color: #3f4e62;
}

/*
contact
*/
.contact {
  background-color: #7a7a7a;
}