/*
globals
*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 6.4rem;
  font-weight: 900;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 1.8rem;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

/*
main
*/
.main {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

/*
banner
*/
.banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.banner h1 {
  position: absolute;
  top: 46px;
  width: 100%;
  text-align: center;
}

.banner h2 {
  position: absolute;
  bottom: 140px;
  left: 52px;
  padding: 24px 24px 24px 18px;
  background-color: rgba(114, 153, 254, 0.5);
  line-height: 1.3;
}

.banner img {
  display: block;
}

/*
my-skills
*/
.my-skills {
  background-color: #7299fe;
  padding: 40px 104px 60px;
}

.my-skills h2 {
  text-align: center;
  margin-bottom: 26px;
}

.my-skills .items {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.my-skills .item {
  width: 50%;
  margin-bottom: 20px;
}

.my-skills .item:nth-child(even) {
  padding-left: 10px;
}

.my-skills .item:nth-child(odd) {
  padding-right: 10px;
}

.my-skills h3 {
  margin-bottom: 10px;
}

/* 
.my-skills .item {
  display: inline-block;
  width: 50%;
  margin-bottom: 20px;
  margin-right: -1.5px;
}

.my-skills .item:nth-child(odd) {
  padding-right: 12px;
}

.my-skills .item:nth-child(even) {
  padding-left: 12px;
} */

.my-skills .bar {
  height: 18px;
  background: white;
}

.my-skills .bar div {
  height: 100%;
  width: 80%;
  background: black;
}

/* .my-skills h3 {
  margin-bottom: 8px;
} */

/*
services
*/
.services {
  background-color: #fb7171;
  padding: 34px 180px 58px;
}

.services h2 {
  text-align: center;
  margin-bottom: 50px;
}

.services .items {
  display: flex;
  flex-wrap: wrap;
}

.services .items div {
  text-align: center;
  width: 33.33%;
  margin-bottom: 58px;
}

.services img {
  margin-bottom: 20px;
}

/*
portfolio
*/
.portfolio {
  background-color: #ffd233;
  padding: 44px 180px 86px;
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 56px;
}

.portfolio .flex {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .flex div {
  width: 25%;
  padding: 0 5px;
  margin-bottom: 10px;
}

.portfolio img {
  width: 100%;
  display: block;
}

/*
clients
*/
.clients {
  background-color: #3f4e62;
  text-align: center;
  padding: 36px 68px 76px;
}

.clients h2 {
  margin-bottom: 20px;
}

.clients .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*
contact
*/
.contact {
  background-color: #7a7a7a;
  padding: 36px 100px 66px;
  text-align: center;
}

.contact form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact input {
  width: 49%;
  margin-bottom: 18px;
  padding: 20px 10px;
}

.contact textarea {
  width: 100%;
  margin-bottom: 40px;
  padding: 10px;
  resize: none;
}

.contact h2 {
  margin-bottom: 30px;
}

.contact div {
  text-align: center;
  width: 100%;
}

.contact button {
  padding: 20px;
  width: 166px;
  color: white;
  background-color: #233451;
  border: 1px solid #233451;
  cursor: pointer;
}

/*TABLET*/
@media (max-width: 860px) {
  .my-skills {
    background: red;
  }
}

/*TABLET SMALL // CELLPHONES LARGE*/
@media (max-width: 720px) {

}

/*// CELLPHONES MEDIUM*/
@media (max-width: 520px) {

}

/*// CELLPHONES SMALL*/
@media (max-width: 420px) {
  
}
/* 
@media (max-width: 720px) {
  .my-skills {
    background: green;
    padding: 50px;
  }

  .my-skills h2 {
    margin-bottom: 10px;
  }

  .my-skills .item {
    width: 100%;
  }

  .my-skills .item:nth-child(even),
  .my-skills .item:nth-child(odd) {
    padding: 0;
  }
}

@media (max-width: 520px) {
  .my-skills {
    background: blue;
  }
}

@media (max-width: 420px) {
  .my-skills {
    background: yellow;
  }
} */
